apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ nginx_deployment_name }}
  labels:
    app: {{ nginx_label_app }}
spec:
  replicas: {{ nginx_replicas }}
  selector:
    matchLabels:
      app: {{ nginx_label_app }}
  template:
    metadata:
      labels:
        app: {{ nginx_label_app }}
    spec:
      containers:
      - name: {{ nginx_label_app }}
        image: {{ nginx_image }}
        ports:
        - containerPort: {{ nginx_container_port }}
          name: {{ nginx_container_port_name }}