apiVersion: v1
kind: Service
metadata:
  name: {{ load_balancer_name }}
spec:
  type: LoadBalancer
  selector:
    app: {{ label_app }}
  ports:
    - protocol: TCP
      nodePort: {{ node_port }}
      port: {{ external_port }}
      targetPort: {{ container_port_name }}
