apiVersion: v1
kind: Service
metadata:
  name: {{ nginx_load_balancer_name }}
spec:
  type: LoadBalancer
  selector:
    app: {{ nginx_label_app }}
  ports:
    - protocol: TCP
      nodePort: {{ nginx_node_port }}
      port: {{ nginx_external_port }}
      targetPort: {{ nginx_container_port_name }}
