apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-cluster-info
  namespace: {{ fluentBit_namespace }}
data:
  cluster.name: {{ fluentBit_k8s_cluster_name }}
  http.port: ""
  http.server: "Off"
  logs.region: {{ fluentBit_logs_region }}
  read.head: "Off"
  read.tail: "On"
